.project {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    cursor: pointer;
    z-index: 1;

}

.project:last-child {
    margin-bottom: 0;
}

.imgContainer {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 40px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.textBlock {
    transform: translateY(62px);
    transition: all 0.3s ease;
}

.textBlock span {
    font-weight: 300;
}

.project:hover .textBlock {
    transform: translateY(0);
}

.imgContainer h3 {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 25px;
}

.imgContainer h3::after {
    content: '';
    background-color: #fff;

    position: relative;
    bottom: -10px;
    left: 0;

    display: block;
    width: 40px;
    height: 1px;
}

@media screen and (max-width: 1280px) {
    .project {
        max-width: 500px;
        height: 250px;
    }
}

@media screen and (max-width: 1050px) {
    .project {
        max-width: 400px;
        height: 200px;
    }

    .imgContainer h3 {
        font-size: 25px;
    }
}
