.contacts {
    height: 100vh;
}

.contactsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.contactsContainer form {
    width: 280px;

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contactsContainer form input {
    margin-bottom: 10px;
}

.contactsContainer button {
    border: none;
    background-color: #d49a9a;
    padding: 10px 15px;
}

