.contacts {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.contacts form input, .contacts form textarea {
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.35);
    background-color: transparent;

    font-size: 34px;
    line-height: 48px;
    width: 100%;
    outline: none;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.contacts form input:focus, .contacts form textarea:focus {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.contacts form textarea {
    margin-bottom: 50px;
}

.contacts form button {
    border: none;
    color: rgba(255, 255, 255, 0.35);
    background-color: transparent;
    font-size: 34px;
    line-height: 44px;
    display: flex;
    align-items: center;
}

.contacts form button:hover {
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1280px){
    .contacts form input, .contacts form textarea, .contacts form button {
        font-size: 25px;
        line-height: 30px;
        max-width: 500px;
    }
    .contacts form textarea {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1050px){
    .contacts form input, .contacts form textarea, .contacts form button {
        max-width: 400px;
    }
}