.main {
    height: 100vh;
    background-color: #fad1d1;
}

.text {
    background-color: #fff;
}

.photo {
    width: 280px;
    height: 400px;
    background-color: aqua;
}

.text span {
    background-color: sandybrown;
}

.text h1 {
    background-color: #ba8960;
}

.text p {
    background-color: #c2a387;
}