.project {
    width: 280px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.imgContainer {
    width: 280px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #84d0e5;
}

.imgContainer a {
    text-decoration: none;
    background-color: #d49a9a;
    padding: 10px 15px;
}

.textContainer {
    padding: 10px;
}

.project span {
    background-color: #7d4545;
}

.project h3 {
    background-color: #db1111;
    margin-bottom: 10px;
}