.skill {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.skill span {
    text-align: center;
}

.skill h3 {
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 300;
}

.icon {
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.icon img {
    width: 100%;
    height: auto;
}