

.leftContentBlock {
    height: 100%;
    width: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 1000px;
}

/*-----------------*/
.rightContentWrapper {
    margin-left: 50%;
}

@media screen and (max-width: 800px){
    .leftContentBlock {
        height: 100%;
        width: 100%;
        position: static;
        display: block;
        perspective: none;
    }

    /*-----------------*/
    .rightContentWrapper {
        margin-left: 0;
    }
}
